*{
    margin: 0;
}
  
    .contenedor{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs0H1MIgUiWHj3tibmEKPovKc2TbtxffXbD9om4-L5jdrwbqy-3Jf4ILfQiWR1ichNvmA&usqp=CAU);
                width: 100vw;
height: 100vh;
text-align: center;
    }

    p{
        font-size: xx-large;
        padding: 15%;
    }

    button{
        font-size: xx-large;
        padding: 0.85em;
    }

    #yesBtn{
        transform: translate(-100%,0);
    }

    #noBtn{
        position: absolute;
    }